.container {
  /* display: flex; */
}

.uploadInp {
  display: none
}

.previewImg {
  width: 69px;
  height: 41px;
  object-fit: cover;
}

.single-main {
  background-color: #0f0c59;
  width: 117%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
}

.single-Text {
  text-align: center;
  color: aliceblue;
  font-size: 22px;
  font-weight: bold;
  background-color: #0f0c59;
}

.single-uploadarea {
  background-color: #0a083c;
  width: 68%;
  height: 21rem;
  border: 3px dashed #afb9b9;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 27px;
}

.single-imgdiv {
  display: flex;
  justify-content: center;
}

.single-uploadLogo {
  width: 38px;
  height: 38px;
}

.single-text {
  font-size: 12px;
  color: aliceblue;
  padding-top: 20px;
}

.single-filelink {
  font-size: 14px;
  font-weight: bold;
  color: #1e82d9;
  cursor: pointer;
}


/*  --------  */





.upload-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #080644;
  width: 29rem;
  padding: 16px;
  border: 2px solid #cdddd8;
  border-radius: 7px;
  margin-bottom: 8px;

  animation: animeThumbnail;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
}

@keyframes animeThumbnail {
  0% {
    opacity: 0.3
  }

  100% {
    opacity: 1
  }
}

.filename {
  font-size: 12px;
  font-weight: bold;
  color: #2599ff;
  width: 8rem;
}

.progressbar {
  width: 80px;
}

.sharebtn {
  background-color: white;
  padding: 9px;
  font-size: 10px;
  font-weight: bold;
  border: 1px solid #d7d0d0;
  border-radius: 5px;
}

.sharebtn:hover {
  background-color: #e3e3e8;
  cursor: pointer;
}

.progressMain {
  background-color: white;
  width: 100px;
  height: 7px;
  border-radius: 10px;
  border: 1px solid #c8bdbd;
}

.progresschild {
  background-color: #1adf47;
  width: 53px;
  height: 7px;
  border-radius: 10px;
}



.thumbnail-container {
  background-color: #060266;
  padding: 19px;
  width: 117%;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;

}





.hide-thumbnail-container {
  display: none
}

.sharelink {
  text-decoration: none;
}

.tick {
  width: 23px;
  height: 24px;
}

.progress-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown{
  color: aliceblue;
  font-weight: inherit;
  border: 01px solid #585af9;
  border-radius: 4px;
}


.Toastify__toast--success {
  border: 4px solid #4fdb17 !important;
  color:#fff;
  /* border-radius: 50px !important; */
  background-color: #0a083c !important;
}

.Toastify__toast--warning {
  border: 4px solid rgb(241, 106, 23) !important;
  /* border-radius: 50px !important; */
  background:#0a083c !important;
}

/*  &  https://stackoverflow.com/questions/60849448/how-can-i-change-the-styles-of-the-react-toastify-popup-message */